* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

/* Header Section */

#head {
  min-height: 25vh;
  min-width: 80%;
  padding: 0.5% 10% 2% 10%;
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1% 0 10% 0;
}

nav > h4 {
  font-size: 24px;
  color: #f9faf8;
}

#nav-links {
  display: flex;
}

#nav-links > li {
  flex: 0 1 auto;
  margin: auto 0.5rem;
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5%;
}

.header-child.left {
  width: 38%;
}

.header-child.left > h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.header-child.right {
  min-width: 50%;
  min-height: 100%;
  border: white 2px solid;
}
/*  */
